<div>
  <app-header></app-header>
  <main>
    <!-- <app-button-icon></app-button-icon> -->
    <!-- <app-dialog></app-dialog> -->
    <!-- <app-menu1></app-menu1> -->
    <!-- <app-slider></app-slider> -->
    <!-- <app-divider></app-divider> -->
    <!-- <app-radiobutton></app-radiobutton> -->
    <!-- <app-ripple></app-ripple> -->
    <!-- <app-paginator></app-paginator> -->
    <!-- <app-select></app-select> -->
    <!-- <app-bottom-sheet></app-bottom-sheet> -->
    <!-- <app-badge></app-badge> -->
    <!-- <app-grid-list></app-grid-list> -->
    <!-- <app-check-box></app-check-box> -->
    <!-- <app-slide-toggle></app-slide-toggle> -->
    <!-- <app-progress-bar></app-progress-bar> -->
    <!-- <app-progress-spinner></app-progress-spinner> -->
    <!-- <app-card></app-card> -->
    <!-- <app-sortheader></app-sortheader> -->
    <!-- <app-autocomplete></app-autocomplete> -->
    <app-snackbar></app-snackbar>
  </main>
</div>
